/**
 *  inv_style.css
 *  styles for the inventory page
 */
 
.search_form {
    width: 200px;
    float: right;
    margin-bottom: 30px;
}

.inv_btn {
    float: right;
    margin-bottom: 30px;
    color: #ababab;
}

.inv_btn a {
    color: #ababab;
    padding: 12px;
}

.inv_btn a:hover {
    border-bottom: 1px solid #2fc3d4;
    color: #2fc3d4;
    text-decoration: none;
}

.btn {
    background: none;
    margin-right: 5px;
    color:  #ababab;
    width: 80px;
}

#filter {
    width: 100px;
    display: inline-block;
    background: none;
    border: none;
    padding: 8px;
}

#filter option {
    color: #2fc3d4;
}

.btn:hover{
    background: none;
    color: #0f7abf;
}

#inv_tbl{
    clear: both;
    padding: 0;
    margin: 0;
}

/**
 *  add form styles
 */
.form-group {
    width: 200px;
}

p {
    color: #ababab;
    font-size: smaller;
}












 
 

