/**
 *  inv_style.css
 *  styles for the inventory page
 */
 
.search_form {
    width: 200px;
    float: right;
    margin-bottom: 30px;
}

.tbl_btn {
    float: left;
    width: 350px;
    margin-bottom: 30px;
}

.btn {
    background: none;
    margin-right: 5px;
    color:  #ababab;
    width: 80px;
}

#filter {
    width: 100px;
    display: inline-block;
}

.btn:hover{
    background: none;
    color: #0f7abf;
}

#inv_tbl{
    clear: both;
    padding: 0;
    margin: 0;
}

/**
 *  add form styles
 */
.form-group {
    width: 200px;
}

p {
    color: #ababab;
    font-size: smaller;
}












 
 

