/**
 * log.css
 * css styles for the login/register pages
 */

body {
    font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif;
}

/**
*   navbar
*/

#navigation {
    background: #fff;
    border: none !important;
}    

#navigation {
    height: 80px;
}

.navbar-header {
    margin-top: 10px;
}


#navbar ul {
    list-style-type: none;
    text-align: right;
    float: right;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 30px;
}

#navbar ul li {
    display: inline;
}

#navbar ul li a{
    color: #2fc3d4;
    padding: 10px;
    text-decoration: none;
}

#navbar ul li a:hover {
    text-decoration: none;
    color: #e9662c;
}

/**
*   form
*/

.log_div {
    width: 100%;
    margin-top: 15%;
    height: 300px;
}

.log_div .form-control, .log_div p a {
    width: 300px;
    height: 30px;
    margin: 10px auto;
    padding: 20px;
    display: block;
}

.log_div p a {
    text-align: center;
    color: #2fc3d4;
}

.log_div p a:hover {
    text-decoration: none;
}   




/**
*	BUTTON
*/
.btn
{
	margin: 10px auto;
	background: none;
	border: 1px solid #ababab;
	color: #ababab;
	padding: 10px;
	width: 150px;
	border-radius: 10px;
	display: block;
}

.btn:hover
{
	background-color: #2fc3d4;
	color: white;
	border: none;
}

/*
*
*	INPUT FIELD
*
*/
input
{
	border-radius: 5px;
	border: 1px solid #ababab;
	width: 200px;
}



















